@font-face {
    font-family: "Flux-Regular";
    src: url("fonts/FluxischElse-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Flux-Bold";
    src: url("fonts/FluxischElse-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 56.25%;
}

body {
    background-color: black;
    color: lightsalmon;
    font-family: Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

::selection {
    background: lightsalmon;
    color: black
}

.nav a {
    text-decoration: none;
    border: 0px !important;
}

a:link, a:active, a:visited {
    color: lightsalmon;
    border-bottom: 0.25vh solid lightsalmon;
    text-decoration: none;
}

a:hover {
    color: lightsalmon;
    text-decoration: none;
    border-bottom: 0px;
}

.dropbtn {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: transparent;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: black;
    font-size: inherit;
    width: 100%;
    z-index: 1;
    bottom: 100%;
}

.dropdown-content a {
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: black;
    background-color: lightsalmon;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.toc a {
    text-decoration: none;
    border-bottom: 0px;
}

.toc a:hover {
    color: black;
}

.gift-wrap {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.left, .right {
    width: 50%;
    padding: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.25s;
}

.left {
    border-right: 2px solid lightsalmon;
}

.left::-webkit-scrollbar, .right::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.title-img {
    width: 50%;
    position: fixed;
    top: 10%;
    left: 1%;
    z-index: -10000;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

h1.title {
    font-family: Flux-Bold, Helvetica, sans-serif;
    font-size: 6vw;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    margin-left: 5.5vw;
    margin-right: 5vw;
    text-shadow: 5px 5px black;
}

.direct {
    margin-top: 2vh;
    transform: rotate(10deg);
    text-align: center;
}

.action {
    text-align: left;
    transform: rotate(-10deg);
}

.for {
    text-align: right;
}

.prison {
    text-align: center;
    transform: rotate(10deg);
}

.abolition {
    text-align: center;
    transform: rotate(2.5deg);
}

h2 {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
}

.pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.pagination-contents {
    position: relative;
}

.footer-button {
    position: absolute;
    right: 60px;
    bottom: 0;
    z-index: 9;
}

.footer-button label {
    font-family: Flux-Regular, Arial, Helvetica, sans-serif;
    font-size: 3vw;
    position: fixed;
    bottom: 1%;
    right: 0%;
    background: transparent;
    color: lightsalmon;
    cursor: pointer;
    display: inline-block;
    text-align: right;
    padding-right: 1%;
    width: auto;
    height: 5.75vh;
}

img.up-arrow {
    height: 50%;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

button.current-section {
    font-family: Flux-Regular, Arial, Helvetica, sans-serif;
    font-size: 2vw;
    background: black;
    color: lightsalmon;
    border: 0px;
    padding: 1%;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 10000;
}

.bottom {
    width: 100%;
    height: 10vh;
    border-radius: 2%;
    /* overflow: hidden; */
}

.nav {
    width: 100%;
    border-top: 2px solid lightsalmon;
    padding: 1rem;
    height: inherit;
    align-items: center;
}

ul {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
}

ul li {
    display: inline-block;
    font-family: Flux-Regular, Helvetica, sans-serif, sans-serif, Arial, sans-serif;
    font-size: 2vw;
    letter-spacing: 0.0125vw;
}

.standout {
    font-family: Flux-Bold;
    letter-spacing: auto;
    font-size: 2.5vw;
    font-weight: bold;
}

li:first-of-type::after {
    font-family: Courier, monospace;
}

h1.toc {
    font-family: Courier, monospace;
    font-size: 3rem;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 3%;
    border-bottom: 2px solid lightsalmon;
    margin: 0;
}

.toc-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5%;
}

.toc-items {
    flex: 50%;
}

button {
    cursor: pointer;
}

button.toc {
    background: transparent;
    color: lightsalmon;
    border: 2px solid lightsalmon;
    border-radius: 15%;
    width: 18vw;
    height: 18vw;
    border-radius: 40px;
    font-family: Courier, monospace;
    font-size: 2.25vw;
    padding: 5%;
    margin: 2.5%;
    vertical-align: text-top;
}

button.toc:hover {
    color: black;
    background: lightsalmon;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.section {
    font-family: Flux-Regular, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5vw;
    border: 0.25vh solid lightsalmon;
    border-radius: 14px;
    margin: 0px auto;
    padding: 2%;
}

h1.section-fill {
    font-family: Flux-Regular, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
    border: 2px solid lightsalmon;
    background: lightsalmon;
    border-radius: 14px;
    margin: 0px auto;
    padding: 2%;
}

p.mobile { 
    display: none;
    color: black;
    background-color: lightsalmon;
    padding:  1.5%;;
    font-size: 2.5vw;
    font-weight: bold;
 }
@media (max-width: 640px) {
    p.mobile { display: block }
}

p {
    font-size: 1.5vw;
    line-height: 125%;
    font-weight: normal;
    font-style: normal;
    text-indent: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 8%;
}

p:first-of-type {
    margin-top: 10%;
}

p:last-of-type {
    margin-bottom: 10%;
}

.excerpt {
    font-family: Flux-Regular, Helvetica, sans-serif;
    font-size: 0.75vw;
    line-height: 0.5vw !important;
    text-transform: uppercase;
}

img {
    margin-top: 5%;
    max-width: 80%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Firefox 10+, Firefox on Android */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    /* IE 6-9 */
    filter: gray;
}

img:hover {
    transform: rotate(5deg);
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

img.arrow {
    height: 20%;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

.arrow:hover {
    transform: scale(1.08, 1.08) !important;
}

blockquote p {
    font-size: 1vw;
    line-height: 125%;
    font-style: italic;
    text-align: center;
    padding: 0;
    margin-top: 0;
}

iframe {
    display: block;
    height: 50vh;
    margin: 0 auto;
    padding: 5%;
    border: 0px;
}