---
layout: gift-wrap
---

<style>
.right {
        background: lightsalmon;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
    }

    p a {
        color: black !important;
        border-bottom: 2px solid black !important;
    }

    p a:hover {
        border-bottom: 0px !important;
    }

</style>

<div class="left">

    <div class="section-header">
        <h1 class="section"> Table of contents </h1>
    </div>

    <div class="toc-stack">
        <div class="toc-items">
            {% for item in page.types %}
            <button class="toc" onclick="document.location='{{"{{item.url}}/{{item.numUrl}}.html'">  {{item.name}} </button>
            {% endfor %}
        </div>
    </div>

</div>

<div class="right">
    <div class="section-header">
        <h1 class="section"> {{ page.title }} </h1>
    </div>
    {{ content }}
</div>
