---
layout: gift-wrap
---

<style>
    .left {
        background: lightsalmon;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
    }

    p a {
        color: black !important;
        border-bottom: 2px solid black !important;
    }

    p a:hover {
        border-bottom: 0px !important;
    }

    p {
        background-color: lightsalmon;
        padding: 5%;
        transform: rotate(-1deg);
    }
</style>

<div class="left" id="section-highlight">
    <div class="section-header">
        <h1 class="section-fill"> {{ page.title }} </h1>
    </div>
    {{ content }}
</div>

<div class="right">
    <div class="section-header">
    </div>
</div>

<script src="{{"/assets/js/layout.js" | relative_url}}"></script>