---
layout: gift-wrap
---

<button class="current-section">
    {% for page in site.actions %}
        {% if page.section == {'Debt Strikes'} %}
        <a href="../{{page.section-url}}.html"> {{ page.section }} </a>
        {% endif %}
    {% endfor %}
</button>

<div class="left">
    <div class="section-header">
        <h1 class="section"> {{ page.title }} </h1>
    </div>
    {% capture my_include %}{% include {{ page.main-content }} %}{% endcapture %}
    {{ my_include | markdownify }}
</div>


<div class="right">
  <div class="section-header">
      <h1 class="section"> {{ page.pair }} </h1>
  </div>
  {% capture my_include %}{% include {{ page.pair-content }} %}{% endcapture %}
  {{ my_include | markdownify }}
</div>
